:root{
    --login-title-color: #F3ECE8;     /* Cor dos Titulos: Login e Cadastro */
    --input-login-bg: #A28E61;       /* background color dos inputs dos forms Login e Cadastro */
    --placeholder-text: #F1EBEB;    /* Cor do texto nome, data, email e etc */
  }
/* css de login e cadastro*/

.card-header{
    color: #F3ECE8;
    
}