body{
  overflow: hidden;
}
.form-group{
  margin:1rem 0;
  box-sizing: border-box;
  color: var(--placeholder-text);
}
.title-form{
  margin-top: 100px;
  text-align: center;
  font-family: "Lastica";
  font-size: 4rem !important;
  color: var(--login-title-color)!important;
  font-weight: 900;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; 
  letter-spacing: 9px;
  

}
.form-login{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.form-group{
  color: var(--placeholder-text);
  padding: 10px;
  box-sizing: border-box;
  
}


.form-control {
  height: 75%;
  width: 28rem;
  font-size: 1.2rem;
  color: var(--placeholder-text);
  font-family: "Aileron";
  background-image: url("/static/authentication/img/input.png");
  background-position: center;
  background-size: cover;
  letter-spacing: 5px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border: hidden;
  border-radius: 0.7rem;
  background-color: transparent;
 
  
}

.form-control::placeholder {
  color: var(--placeholder-text);
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  border: hidden;
}




.btn-default {
  font-size: 1rem;
  width: 170px;
}