/* register.css */

.main-content-container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100vh;
}

form {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
  gap: 10px;
}
form .error-msg {
  color: yellow;
}

.title-form {
  margin-bottom: 10px;
  text-align: center;
  font-family: "Lastica";
  font-size: 4rem;
  color: var(--login-title-color);
  font-weight: 900;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
  letter-spacing: 9px;
}

.form-group:nth-child(-n + 5) {
  flex-basis: calc(50% - 5px);
}

.form-group:nth-child(n + 6) {
  flex-basis: calc(50% - 5px);
}

.form-group3 {
  flex-basis: 100%;
  text-align: center;
  margin: 20px 15px;

  color: var(--login-title-color);
}

.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/*.btn-default {
  flex-basis: 100%;
  margin: 0 auto;
}
*/

.form-control {
  font-family: "Lastica";
  background-image: url("/static/authentication/img/input.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 0.7rem;
  padding: 10px 15px;
  border: hidden;
  background-color: transparent;
  margin-bottom: 30px;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border: hidden !important;
}

.custom-control {
  margin-top: 10px;
}
