{% load static %}
<div class="col-md-6 col-lg-4">
    <div class="block-blog text-left">
        <a href="#"><img src="{% static 'ong/img/blog/blog-1.jpg' %}" class="card-img-top" alt="img"></a>
        <div class="content-blog">
        
            <h4><a href="#">Junte-se a nós na missão verde! Acesse nosso Blog e inscrevas-se na nossa newsletter</a></h4>
            <span>01, ago 2023</span>
            <a class="float-end btn m-5" name="" id="" href="#" role="button">Saiba Mais</a>
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-4">
    <div class="block-blog text-left">
        <a href="#"><img src="{% static 'ong/img/blog/blog-2.jpg' %}" class="img-responsive" alt="img"></a>
        <div class="content-blog">
            <h4><a href="#">Planeta Sustentável: Descubra como os ONGNautas estão fazendo a diferença</a></h4>
            <span>01, ago 2023</span>
            <a class="float-end btn m-5" name="" id="" href="#" role="button">Saiba Mais</a>
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-4">
    <div class="block-blog text-left">
        <a href="#"><img src="{% static 'ong/img/blog/blog-3.jpg' %}" class="img-responsive" alt="img"></a>
        <div class="content-blog">
            <h4><a href="#">Explorando a Natureza: As melhores trilhas ecológicas com os ONGNautas</a></h4>
            <span>01, ago 2023</span>
            <a class="float-end btn m-5" name="" id="" href="#" role="button">Saiba Mais</a>
        </div>
    </div>
</div>