{% load static %}


{% for post in posts %}
<div class="col-md-6 col-lg-4">
    <div class="block-blog text-left">
        <a href="#"><img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}"></a>
        <div class="content-blog">
            <h4><a href="#">{{ post.title }}</a></h4>
            <span>{{ post.date }}</span> <br>
            <a class="float-end btn m-5" href="{% url 'blog_show' post.id %}" role="button">Saiba Mais</a>
        </div>
    </div>
</div>
{% endfor %}
