[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django = "==4.2.16"
psycopg2-binary = "*"
pillow = "*"
django-role-permissions = "*"

[dev-packages]

[requires]
python_version = "3.11"
