<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-4">
        <div class="footer-logo">
          <a class="navbar-brand" href="#">ONGNautas</a>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">
          <ul class="list-unstyled">
            <li><a href="#hero">Home</a></li>
            <li><a href="#about-us">Voluntários</a></li>

          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <ul class="list-unstyled">
            <li><a href="#features">Apoie</a></li>
            <li><a href="#screenshots">Denuncie</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">
          <ul class="list-unstyled">
            <li><a href="#team">Blog</a></li>
            <li><a href="#team">Transparência</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>