* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Lastica";
  src: url("/static/fonts/lastica/lastica.ttf") format("truetype");
}

@font-face {
  font-family: "Aileron";
  src: url("/static/fonts/aileron/aileron.ttf") format("truetype");
  /* Outras propriedades da fonte, (font-weight, font-style, etc.) */
}
@font-face {
  font-family: "Josefin-sans";
  src: url("/static/fonts/Josefin_Sans/JosefinSans-SemiBoldItalic.ttf")
    format("truetype");
  /* Outras propriedades da fonte, (font-weight, font-style, etc.) */
}

:root {
  --login-title-color: #f3ece8; /* Cor dos Titulos: Login e Cadastro */
  --input-login-bg: #a28e61; /* background color dos inputs dos forms: Login e Cadastro */
  --placeholder-text: #f1ebeb;
  /* Cor do texto nome, data, email e etc */
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}
img {
  margin: 10px;
  border-radius: 5px;
}
.padd-section {
  padding-top: -80px;
  padding-bottom: -80px;
}
.section-title {
  font-size: 4rem;
  font-family: "Aileron, Lastica, sans";
  letter-spacing: 2px;
  color: var(--home-titles);
}
.section-description {
  margin-bottom: 50px;
  font-family: "Aileron, Lastica, sans";
  letter-spacing: 2px;
  color: var(--home-subtitles);
  font-size: 1.5rem;
}
.margin{
    margin-top: 10rem;
}
.block-blog {
    margin-bottom: 30px;
  }


.block-blog img {
  width: 100%;
  height: 190px
}

.content-blog {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  min-height: 125px;
  padding: 20px 10px;
  width: 100%;
}

.content-blog h4 {
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 16px;
}

.content-blog h4 a {
  color: #555;
  text-decoration: none;
  transition: 0.3s;
}

.content-blog h4 a:hover {
  color: #71c55d;
}

.content-blog span {
  float: left;
  font-size: 12px;
}