{% extends "base/base.html" %}
{% load static %}
{% block 'title' %}Home{% endblock 'title' %}
<!-- CSS -->
{% block 'css' %}{% static 'ong/css/blog.css' %}{% endblock 'css' %}

{% block 'body' %}
    <section class="padd-section">
        <div class="container">

            <div class="text-center margin">
                <h2>Bem vindo ao nosso Blog </h2>
                <p class="separator">Fique por dentro das últimas notícias.</p>
            </div>
            <div class="container">
                <div class="row">
    
                    {% include 'partials/card-blog.html' %}
    
                </div>
            </div>
        </div>
    </section>

{% endblock 'body' %}
</body>
</html>