{% extends "base/base.html" %}
{% load static %}
{% block 'title' %}Home{% endblock 'title' %}
<!-- CSS -->
{% block 'css' %}{% static 'ong/css/blog.css' %}{% endblock 'css' %}

{% block 'body' %}
    <section class="padd-section">
        <div class="text-center margin">

            <h2>Bem vindo ao nosso Blog <div class="container"></h2>
            <p class="separator">Fique por dentro das últimas notícias.</p>
          </div>
  
          <div class="row">
  
            <div class="col-md-6 col-lg-4">
                <div class="block-blog text-left">
                    <a href="#"><img src="assets/img/blog/blog-image-3.jpg" class="img-responsive" alt="img"></a>
                    <div class="content-blog">
                        <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
                        <span>01, ago 2023</span>
                        <a class="float-end readmore" href="#">Saiba Mais</a>
                    </div>
                </div>
            </div>
  
            <div class="col-md-6 col-lg-4">
                <div class="block-blog text-left">
                    <a href="#"><img src="assets/img/blog/blog-image-3.jpg" class="img-responsive" alt="img"></a>
                    <div class="content-blog">
                        <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
                        <span>01, ago 2023</span>
                        <a class="float-end readmore" href="#">Saiba Mais</a>
                    </div>
                </div>
            </div>
  
            <div class="col-md-6 col-lg-4">
                <div class="block-blog text-left">
                    <a href="#"><img src="assets/img/blog/blog-image-3.jpg" class="img-responsive" alt="img"></a>
                    <div class="content-blog">
                        <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
                        <span>01, ago 2023</span>
                        <a class="float-end readmore" href="#">Saiba Mais</a>
                    </div>
                </div>
            </div>
          </div>
        </div>

    </section>

{% endblock 'body' %}
</body>
</html>