{% extends 'base/base_form.html' %}

{% load static %} 

{% block 'head' %}
<!-- Links de estilização da pagina -->

<link rel="stylesheet" href="{% static 'authentication/css/login.css' %}" />


{% endblock %}

{% block 'title' %}Login{% endblock %} 
{% block 'nav-h5' %}Não possui cadastro? <a href="{% url 'register' %}"><button type="submit" class="btn-nav">cadastrar</button></a></h5>{% endblock 'nav-h5' %}
{% block 'body' %}
    
    <div class="padd-section">
        <div class="container-form">
            <div class="row justify-content-center">
                <div class=" ">
                    <div class=" container">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>  
                            {% endfor %}
                        {% endif %}
                        <h2 class="title-form">Login</h2>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="card-body">
                            <form class="form-login" id="loginForm" action="{% url 'login' %}" method="POST">{% csrf_token %}
                                <div class="form-group">
                                    
                                    {% if form.email.errors %}
                                        <p>{{ form.email.errors.0 }}</p>
                                    {% endif %}
                                    {% if form.email.value %}
                                    <input type="email" id="email" value={{form.email.value}} name="email" placeholder="E-mail" class="form-control" required>
                                    {% else %}
                                    <input type="email" id="email" name="email" placeholder="E-mail" class="form-control" required>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    
                                    {% if form.password.errors %}
                                        {{ form.password.errors.0 }}
                                    {% endif %}
                                    <input type="password" id="password" name="password" placeholder="password"  class="form-control" required>
                                </div>
                                <div class="form-group mt-3 text-center button-group">
                                    <button type="submit" class="btn-default">Entrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
{% endblock 'body' %}

