{% extends 'base/base_form.html' %}

{% load static %} 

{% block 'head' %}
<!-- Links de estilização da pagina -->

<link rel="stylesheet" href="{% static 'authentication/css/login.css' %}" />


{% endblock %}

{% block 'title' %}Login{% endblock %} 
{% block 'nav-h5' %}Não possui cadastro? <a href="{% url 'register' %}"><button type="submit" class="btn-default">cadastrar</button></a></h5>{% endblock 'nav-h5' %}
{% block 'body' %}
    <section class="padd-section">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6 ">
                    <div class=" container">
                        <h2 class="title-form">Login</h2>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="card-body">
                            <form class="form-login" id="loginForm" action="{% url 'login' %}" method="POST">{% csrf_token %}
                                <div class="form-group">
                                  
                                    <input type="email" id="email" name="email" placeholder="E-mail" class="form-control" required>
                                </div>
                                <div class="form-group mt-3">
                                    
                                    <input type="password" id="password" name="password" placeholder="password"  class="form-control" required>
                                </div>
                                <div class="form-group mt-3 text-center button-group">
                                    <button type="submit" class="btn-default">Entrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Scripts -->
{% endblock 'body' %}

