{% extends 'base/base_form.html' %}

{% load static %} 

{% block 'head' %}
<!-- Links de estilização da pagina -->
<link rel="stylesheet" href="{% static 'authentication/css/register.css' %}" />
{% endblock %}

{% block 'title' %}Cadastro{% endblock %} 

{% block 'nav-h5' %}
  Já tem cadastro?  
  <button type="submit" class="btn-default">Login</button>
{% endblock 'nav-h5' %}

{% block 'body' %}
  <form class="row ">
    <h2 class='title-form col-12 text-center'> Cadastro </h2>
    <div class="form-group col-mdl-6">
      <input
        type="text"
        class="form-control"
        id="inputname"
        placeholder="Nome Completo"
      />
      <input
        type="text"
        class="form-control"
        id="inputCity"
        placeholder="CPF"
      />
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        placeholder="Email"
      />
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        placeholder="Senha"
      />
      <input
        type="date"
        class="form-control"
        id="inputdate"
        placeholder="Data de Nascimento"
      />
    </div>
    <div class="form-group col-md-6">
      <input
        type="text"
        class="form-control"
        id="inputZip"
        placeholder="CEP"
      />
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="Endereço"
      />
      <input
        type="text"
        class="form-control"
        id="inputComplement"
        placeholder="Complemento"
      />
      <div class="form-group3">
        <h3 class="mb-3">Tipo de cadastro:</h3>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" />
          <label class="custom-control-label" for="customRadioInline1">Quero ser Voluntário</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" />
          <label class="custom-control-label" for="customRadioInline2">Quero ser Apoiador</label>
        </div>
      </div>
    </div>
    
      <button type="submit" class="btn-default col-md-6 offset-md-3">Cadastrar</button>
    
  </form>
{% endblock %}
