{% extends 'base/base_form.html' %} {% load static %} 

{% block 'head' %}
<!-- Links de estilização da pagina -->
<link rel="stylesheet" href="{% static 'authentication/css/register.css' %}" />
{% endblock %} 

{% block 'title' %}Cadastro{% endblock %} 

{% block 'nav-h5' %} 
Já tem cadastro?
<a href="{% url 'login' %}">
  <button type="submit" class="btn-nav">Login</button>
</a>
{% endblock 'nav-h5' %} 

{% block 'body' %}
<div class="container">
<form class="row" method="POST" action="{% url 'register' %}">{% csrf_token %}
  <h2 class="title-form col-12 text-center">Cadastro</h2>

  {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }}" role="alert">
        {{ message }}
      </div>    
    {% endfor %}
  {% endif %}

  <div class="form-group1 col-mdl-6">
    {% if form.first_name.errors %}
    <p class="error-msg">{{ form.first_name.errors.0 }}</p>
    {% endif %} {% if form.first_name.value %}
    <input
      type="text"
      class="form-control1"
      id="inputname"
      name="first_name"
      placeholder="Nome:"
      value="{{ form.first_name.value }}"
    />
    {% else %}
    <input
      type="text"
      class="form-control1"
      id="inputname"
      name="first_name"
      placeholder="Nome:"
    />
    {% endif %} {% if form.cpf.errors %}
    <p class="error-msg">{{ form.cpf.errors.0 }}</p>
    {% endif %} {% if form.cpf.value %}
    <input
      type="text"
      class="form-control1"
      id="inputCity"
      name="cpf"
      placeholder="CPF"
      value="{{ form.cpf.value }}"
    />
    {% else %}
    <input
      type="text"
      class="form-control2"
      id="inputCity"
      name="cpf"
      placeholder="CPF"
    />
    {% endif %} {% if form.email.errors %}
    <p class="error-msg">{{ form.email.errors.0 }}</p>
    {% endif %} {% if form.email.value %}
    <input
      type="email"
      class="form-control1"
      id="inputEmail"
      name="email"
      placeholder="E-mail:"
      value="{{ form.email.value }}"
    />
    {% else %}
    <input
      type="email"
      class="form-control1"
      id="inputEmail"
      name="email"
      placeholder="E-mail:"
    />
    {% endif %} {% if form.password.errors %}
    <p class="error-msg">{{ form.password.errors.0 }}</p>
    {% endif %}
    <input
      type="password"
      class="form-control1"
      id="inputPassword"
      name="password"
      placeholder="Senha:"
    />

    {% if form.birthdate.value %}
    <input
      type="date"
      class="form-control1"
      id="inputdate"
      name="birthdate"
      placeholder="Data de Nascimento:"
      value="{{ form.birthdate.value }}"
    />
    {% else %}
    <input
      type="date"
      class="form-control1"
      id="inputdate"
      name="birthdate"
      placeholder="Data de Nascimento:"
    />
    {% endif %}
  </div>

  <div class="form-group2 col-md-6">
    {% if form.last_name.errors %}
    <p class="error-msg">{{ form.last_name.errors.0 }}</p>
    {% endif %} {% if form.last_name.value %}
    <input
      type="text"
      class="form-control2"
      id="inputlastname"
      name="last_name"
      placeholder="Sobrenome:"
      value="{{ form.last_name.value }}"
    />
    {% else %}
    <input
      type="text"
      class="form-control2"
      id="inputlastname"
      name="last_name"
      placeholder="Sobrenome:"
    />
    {% endif %} {% if form.cep.errors %}
    <p class="error-msg">{{ form.cep.errors.0 }}</p>
    {% endif %} {% if form.cep.value %}
    <input
      type="text"
      class="form-control2"
      id="inputZip"
      name="cep"
      placeholder="CEP:"
      value="{{ form.cep.value }}"
    />
    {% else %}
    <input
      type="text"
      class="form-control2"
      id="inputZip"
      name="cep"
      placeholder="CEP:"
    />
    {% endif %} {% if form.address.value %}
    <input
      type="text"
      class="form-control2"
      id="inputAddress"
      name="address"
      placeholder="Endereço:"
      value="{{ form.address.value }}"
    />
    {% else %}
    <input
      type="text"
      class="form-control2"
      id="inputAddress"
      name="address"
      placeholder="Endereço:"
    />
    {% endif %} {% if form.complement.value %}
    <input
      type="text"
      class="form-control2"
      id="inputComplement"
      name="complement"
      placeholder="Complemento:"
      value="{{ form.complement.value }}"
    />
    {% else %}
    <input
      type="text"
      class="form-control2"
      id="inputComplement"
      name="complement"
      placeholder="Complemento:"
    />
    {% endif %}
  
  </div>
  <div class="form-group3">
    <h3 class="mb-3">Tipo de cadastro:</h3>
    <div class="custom-control custom-radio custom-control-inline">
      <input
        type="radio"
        name="check"
        value="V"
        id="customRadioInline1"
        name="customRadioInline1"
        class="custom-control-input"
        required
      />
      <label class="custom-control-label" for="customRadioInline1"
        >Quero ser Voluntário</label
      >
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input
        type="radio"
        name="check"
        value="S"
        id="customRadioInline2"
        name="customRadioInline1"
        class="custom-control-input"
        required
      />
      <label class="custom-control-label" for="customRadioInline2"
        >Quero ser Apoiador</label
      >
    </div>

    <div class="custom-control custom-radio custom-control-inline">
      <input
        type="radio"
        name="check"
        value="VS"
        id="customRadioInline2"
        name="customRadioInline1"
        class="custom-control-input"
        required
      />
      <label class="custom-control-label" for="customRadioInline2"
        >Quero ser Voluntário e Apoiador</label
      >
    </div>
  </div>
  <button type="submit" class="btn-default col-md-6 offset-md-3">
    Cadastrar
  </button>
</form>
</div>
{% endblock %}
