/* Reset css */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lastica";
  src: url("/static/fonts/lastica/lastica.ttf") format("truetype");
}

@font-face {
  font-family: "Aileron";
  src: url("/static/fonts/aileron/aileron.ttf") format("truetype");
}
@font-face {
  font-family: "Josefin-sans";
  src: url("/static/fonts/Josefin_Sans/JosefinSans.ttf") format("truetype");
}

:root {
  --home-titles: #00a651;
  --home-subtitles: #a8cf45;
  --home-nav: #a28e61cb;
  --home-nav-decoration: #a28e6168;
  --home-description-title: #a28e6130;
  --home-discription-subtitle: #65584a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-family: "Aileron, Lastica, sans";
  letter-spacing: 2px;
  color: var(--home-titles);
}

h4,
a {
  font-family: "Aileron, Lastica, sans";
  color: var(--login-title-color) !important;
  width: 82%;
  margin: 0 auto;
  text-align: left;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
}

h5 {
  color: #626262;
  font-size: 14px;
  font-weight: 500;
}

a {
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-decoration: none;
  color: #71c55d;
}

a:hover {
  color: #92d283;
}

ul {
  letter-spacing: 1px;
}

li {
  color: #626262;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: capitalize;
}
/* mudança de "p" para "paragrapher"*/
.paragrapher {
  color: var(--placeholder-text);
  font-family: "josefin-sans";
  font-weight: 400;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.7px;
  line-height: 2;
  margin-bottom: 20px;
}

span {
  color: var(--home-subtitles);
  font-family: "Lastica";
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 900;
  text-decoration-line: underline;
}

button {
  border: groove #66a26141;
  background-image: linear-gradient(
    to left bottom,
    #00a651,
    #3baf4c,
    #5ab748,
    #74bf43,
    #8dc63f
  );

  color: var(--placeholder-text);
}
/*-- Header --*/

#header {
  background: #000;
  z-index: 997;
  transition: all 0.5s ease;
  padding: 10px 0;
  margin-bottom: 1rem;
}
.logo h1 {
  color: #505050;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}
.logo h1 {
  color: #505050;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}

.logo h1 a {
  color: #f9f7f7;
  display: inline-block;
  text-decoration: none;
}

.logo h1 a span {
  color: #71c55d;
}

.logo img {
  padding: 0;
  margin: 0;
}
.navbar {
  padding: 0;
  background-color: var(--home-nav-decoration);
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #f4f0f0;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #71c55d;
}
.hide-when-logged-in {
  display: block;
}

.show-when-logged-in {
  display: none;
}

/* Add more styling as needed */
.navbar-nav > li {
  margin-right: 15px;
}
.btn {
  border: groove #66a26141;
  background-image: linear-gradient(
    to left bottom,
    #00a651,
    #3baf4c,
    #5ab748,
    #74bf43,
    #8dc63f
  );

  color: var(--placeholder-text);
}

.btn-login {
  text-align: center;
  width: 95px;
  letter-spacing: 3px;
  border-radius: 2.5rem;
  font-size: 0.8rem;
  font-family: "Lastica";
  font-weight: 800;
  color: var(--login-title-color) !important;
  transition: 0.4s;
  color: var(--login-title-color) !important;
}

/* main css*/
.padd-section{
  
  margin-bottom:90px;
}
.midle-title{
  font-family: 'Josefin-sans';
  font-weight: 900;
  color: var(--input-login-bg);
  text-align: center;
  letter-spacing: 5px;
  
}
.btn-main {
  font-size: 1rem;
  padding: 0.8rem;
  font-weight: 700;
  font-family: "Lastica-bold", "Aileron";
  margin: 0 auto;
  width: 240px;
  border-radius: 2.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: 0.4s;
  color: var(--login-title-color) !important;
  border: groove #66a26141;
}
.btn-login:hover,
.btn-main:hover {
  background-image: linear-gradient(
    to right bottom,
    #8dc63f,
    #74bf43,
    #5ab748,
    #3baf4c,
    #00a651
  );
  color: var(--login-title-color);
}
/*-- Footer --*/
.footer {
  background: #71c55d;
  padding-top: 50px;
}

.footer .footer-logo .navbar-brand {
  color: #fff;
  display: inline-block;
  float: none;
  font-family: "Philosopher", sans-serif;
  font-size: 24px;
  font-weight: 500;
  height: 100%;
  letter-spacing: 0.2em;
  padding-left: 0;
  padding-top: 0;
}

.footer .footer-logo .paragrapher {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}

.footer .list-menu > h4 {
  color: #fff;
  padding-bottom: 20px;
}

.footer .list-menu ul li a {
  color: #fff;
  font-size: 12px;
  padding-left: 5px;
  text-decoration: none;
  letter-spacing: 0;
}
