/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fontes e variaveis de cor */
@font-face {
  font-family: "Lastica";
  src: url("/static/fonts/lastica/lastica.ttf") format("truetype");
}

@font-face {
  font-family: "Lastica-bold";
  src: url("/static/fonts/lastica/lastica.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Aileron";
  src: url("/static/fonts/aileron/aileron.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Josefin_sans";
  src: url("/static/fonts/Josefin_Sans/JosefinSans-SemiBoldItalic.ttf")
    format("truetype");
}

:root {
  --login-title-color: #f3ece8; /* Cor dos Titulos: Login e Cadastro */
  --input-login-bg: #a28e61; /* background color dos inputs dos forms: Login e Cadastro */
  --placeholder-text: #f1ebeb; /* Cor do texto nome, data, email e etc */
}

body {
  background-image: url("/static/authentication/img/backlogin.png") !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.navbar {
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 85%;
  z-index: 100;
  background-color: rgba(62, 51, 27, 0.343);
  backdrop-filter: blur(1px);
  border-left: 2.3rem solid black;
  border-right: 2.3rem solid black;
}

.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  width: 14rem;
  height: auto;
}

.navbar-content {
  display: flex;
  align-items: center;
  color: var(--login-title-color);
}

.navbar-content h5 {
  margin-right: 20px;
  font-family: "Josefin sans";
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}

form {
  width: 100%;
}

.container-form {
  margin: 0 auto;
  height: 100vh;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content-container-form {
  width: 85%;
  margin: 0 auto;
  background-color: rgba(62, 51, 27, 0.343);
  backdrop-filter: blur(1px);
  border-left: 2.3rem solid black;
  border-right: 2.3rem solid black;
}

.error-msg {
  color: rgb(245, 243, 243);
  font-family: "aileron";
  font-weight: 500;
  border: solid 1px rgba(128, 128, 128, 0.294);
  padding: 5px;
  background-color: rgb(243, 14, 14);
  border-radius: 10px;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.btn-nav {
  font-size: 0.7rem;
  width: 170px;
}
.btn-default {
  font-size: 1rem;
  width: 220px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.btn-nav,
.btn-default {
  font-family: "Lastica";
  font-weight: 900;
  color: var(--login-title-color);
  margin: 0 auto;
  height: 40px;

  border-radius: 1rem;
  border: groove #66a261;
  background-image: linear-gradient(
    to right,
    #00a651,
    #3ab84a,
    #5fca40,
    #83db30,
    #a8eb12
  );
  text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.12), 2px -2px 0 rgba(0, 0, 0, 0.154),
    -2px 2px 0 rgba(0, 0, 0, 0.116), 2px 2px 0 rgba(0, 0, 0, 0.174);
  letter-spacing: 4px;
}

.btn-default:hover,
.btn-nav:hover {
  background-image: linear-gradient(
    to left bottom,
    #8dc63f,
    #74bf43,
    #5ab748,
    #3baf4c,
    #00a651
  );
  color: #4b3d1c;
}

@media (max-width: 768px) {
  .title-form {
    font-size: 1.5rem !important;
    letter-spacing: 3px;
    padding: 5px;
  }
}
