/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fontes e variaveis de cor */
@font-face {
  font-family: "Lastica";
  src: url("/static/fonts/lastica/lastica.ttf") format("truetype");
}

@font-face {
  font-family: "Lastica-bold";
  src: url("/static/fonts/lastica/lastica.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Aileron";
  src: url("/static/fonts/aileron/aileron.ttf") format("truetype");
  /* propriedades da fonte */
}
@font-face {
  font-family: "Josefin sans";
  src: url("/static/fonts/Josefin_Sans/JosefinSans-SemiBoldItalic.ttf")
    format("truetype");
}

:root {
  --login-title-color: #f3ece8; /* Cor dos Titulos: Login e Cadastro */
  --input-login-bg: #a28e61; /* background color dos inputs dos forms: Login e Cadastro */
  --placeholder-text: #f1ebeb; /* Cor do texto nome, data, email e etc */
}



body {
  background-image: url("/static/authentication/img/backlogin.png") !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
 
}

.navbar {
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 85%;
  z-index: 100;
  background-color: rgba(
    62,
    51,
    27,
    0.343
  ); 
  backdrop-filter: blur(1px); 
  border-left: 2.3rem solid black;
  border-right: 2.3rem solid black;
}

.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra da navbar */
}

.navbar-brand img {
  width: 14rem;
  height: auto;
}

.navbar-content {
  display: flex;
  align-items: center;
  color: var(--login-title-color)
}

.navbar-content h5 {
  margin-right: 20px;
}
form{
  width:100%;
  margin-bottom: 120px;
}
.title-form{
  margin-bottom: 100px;
  font-family: "Lastica-bold";
  font-size: 4rem !important;
  color: var(--login-title-color)!important;
  font-weight: 900;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; 
  letter-spacing: 9px;
  padding: 10px; 
  
}

.main-content-container-form {
  margin: 0 auto;
  height: 100%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(
    62,
    51,
    27,
    0.343
  ); 
  backdrop-filter: blur(1px); 
  border-left: 2.3rem solid black;
  border-right: 2.3rem solid black;
}

.form-control {
  font-family: "Lastica";
  background-image: url("/static/authentication/img/input.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
  padding: 10px 15px;
  border: hidden;
  background-color: transparent;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  border: hidden !important;
}
.btn-default{
  font-family: "Lastica";
  color: var(--login-title-color);
  font-size: 0.8rem;
  margin: 0 auto;
  width: 170px;
  padding: 4px;
  height: 40px;
  border-radius: 1rem;
  border: hidden;
  background-image: linear-gradient(to right, #00a651, #3ab84a, #5fca40, #83db30, #a8eb12);
}
input {
  margin-bottom: 10px;
}

